.Footer {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  bottom: 0;
  left: 0;
}

.IconFooter {
  text-align: center;
  padding: 10px;
}

.IconFooter h4 {
  color: black;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 5px;
  text-transform: uppercase;
}

.IconFooter i {
  color: black;
  padding: 5px 15px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.IconFooter i:hover {
  transform: scale(1.2);
  color: rgb(22, 12, 37);
}

.FooterContent h4,
.FooterContent p {
  color: black;
  text-align: center;
  padding: 5px;
  font-weight: 300;
  text-transform: capitalize;
}
