* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Card {
  width: 200px;
  height: 385px;
  margin: 1rem;
  background-color: rgb(22, 12, 37);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.Card img {
  width: 100%;
  height: 80%;
  background-position: center;
  background-size: cover;
}

.Details {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

.Details h3 {
  font-size: small;
  font-weight: 300;
}

.Info {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
}

.Card:hover .Info {
  transform: translateY(0);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
}
